@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Empréstimos on-line</h1>
    <p>Leia sempre!!!</p>

    <div>
        <img src="/img/livro-356951111.png"
    </div>

</div>
